body{
    font-family: 'Barlow Semi Condensed'!important;
}
.navbar{
    background-color:white !important;
}
.navbar-brand{
    font-size: 30px;
}
.collapse{
    justify-content: end;
}
.nav-link{
    font-size: 17px;
    color: #4f5359 !important;
    font-weight:500!important;
    margin-right: 25px;
    letter-spacing: 1px;
}
.section-1{
margin-top: 200px !important;
background-color: #fafbfd;
}
.page-title{
    font-family:'Barlow', sans-serif;
    font-size:2.9rem !important;
    font-weight:bolder!important;
    text-emphasis: 200px !important;
    letter-spacing: 2px;
}
.det{
    font-size: 1.31rem;
    font-family: 'Barlow Condensed', sans-serif;
    color: #787b7e;
   font-weight:bold !important;
    letter-spacing: 0.5px;
    word-spacing: 1px;
}
.det-2{
    font-size: 1.35rem;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 1px !important;
    word-spacing: 1px !important;
    font-weight:bolder !important;
}
.second-img{
   margin-top: -120px;
}
.btn{
    
    padding: 12px 35px !important;
    word-spacing: 1px !important;
    font-weight:bolder !important;
    letter-spacing: 1px !important;

}
.bi-apple{
  margin-top: -5px;
 margin-right: 10px;
}
.google{
    margin-right: 5px;
    margin-top: -5px;
}
.section-2{
    margin: 0;
    padding: 250px 0;
    background-color: white;
}
.details{
    margin-top: 120px;
}
.page-title-1{
    font-family:'Barlow', sans-serif;
    font-size:2.5rem !important;
    font-weight:bolder!important;
    text-emphasis: 200px !important;
    letter-spacing: 2px;
}
.det-3{
    font-size: 20px;
    font-family: 'Barlow Condensed';
    letter-spacing: 1px !important;
    word-spacing: 1px !important;
    color: #787b7e;
    font-weight:bold !important;
}
h5{
    font-family: 'Barlow Condensed';
    font-size: 18px !important;
    color: #787b7e;
    letter-spacing: 1px !important;
    word-spacing: 1px !important;
    font-weight:bold !important;
    margin-bottom: 17px !important;
}
.tab{
    border-radius:50%;
    padding: 25px;
    margin-right: 25px;
    border: none;
}

.new{
    margin-top: 80px;
    margin-left: 20px;
}
.other{
    position: relative;
    top:-80px;
    right: -20px;
    
}
.section-3{
    margin: 0;
    padding: 250px 0;
    background-color: white;
    text-align: center;
}
.head{
    margin-bottom: 100px !important;
}
.team{
    margin-right: 90px;
    margin-bottom: 100px !important;
    
    
}
.member{
    border-radius: 50%;
    height: 150px;
}
.adds{
    font-weight: bolder !important;
}
.section-4{
    margin-bottom: 140px;
    padding: 400px 0;
    background-color: #fafbfd;
}
.page-title-4{
    font-family:'Barlow', sans-serif;
    font-size:1.8rem !important;
    font-weight:bolder!important;
    text-emphasis: 200px !important;
    letter-spacing: 2px;
    margin-bottom: 30px !important;
}
.section-4{
    padding: 30px;
    margin-bottom: 140px;
    padding: 250px 0;
   
}
.section-5{
    padding: 400px 0px;
}
.promo-container{
    line-height: 20px !important;
    padding: 20px 20px !important;
}
.box{
    text-align: right;
    padding: 50px;
    margin-right: -20px !important;
    background-color: white;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    row-gap: 30px !important;
}
.see{
    margin-left: -30px !important;
}
.box-2{
    text-align: right;
    padding: 50px;
    margin-right: -20px !important;
    background-color: white;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    row-gap: 30px !important;
}
.box-3{
    text-align: left;
    padding: 50px;
    margin-right: -20px !important;
    background-color: white;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    row-gap: 30px !important;
}
.page-title-6{
    font-family:'Barlow', sans-serif;
    font-size:1.25rem !important;
    font-weight:bolder!important;
    text-emphasis: 200px !important;
    letter-spacing: 2px;
    margin-bottom: 7px !important;
}
.info{
    margin-right: 60px !important;
}
.dett{
    margin-left: 25px !important; 
}
.page-title-5{
    font-family:'Barlow', sans-serif;
    font-size:3.5rem !important;
    font-weight:bolder!important;
    text-emphasis: 200px !important;
    margin-bottom: 30px !important;
}
.social{
    padding: 11px;
    border-radius: 50%;
    border: none;
    margin-right:10px;
    align-items: center;
}
.face{
    background-color: white;
}


/* .cont{
    margin-top: 30px ;
} */
a{
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    text-decoration: underline;
}
@media (min-width:0px) and (max-width:500px){
body{
   margin: 0 12px !important;
   

  
}
.second-img{
    display: none;
 }
}
@media (min-width:501px) and (max-width:999px){
    body{
        margin: 0 20px !important;
       
     }
    .second-img{
display: none;
    }
   

}
@media(min-width:1000px){
    body{
        margin: 0 100px !important;
        padding: 10px 0;
       
     } 
     .navbar-brand{
        font-size: 33px !important;
    }
   
}

